.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-div {
  min-height: 50vh;
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 16px 50px 6px rgba(0, 11, 66, .1);
}

.top-div.bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  min-height: 0vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #1da1f3;
  transition: all 0.5s ease;
}

.top-div.bottom:hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  min-height: 0vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #1da1f3;
  box-shadow: 0 20px 50px 6px rgba(0, 11, 66, .15);
  transform: scale(1.02,1.02);
  transition: all 0.5s ease;
}

.top-div.bottom.right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-image: url('../images/instagram_gradient_wallpaper_by_jasonzigrino-da28exh.png');
  background-position: 50% 50%;
  background-size: 512px;
  transition: all 0.5s ease;
}

.top-div.bottom.right:hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-image: url('../images/instagram_gradient_wallpaper_by_jasonzigrino-da28exh.png');
  background-position: 50% 50%;
  background-size: 512px;
  box-shadow: 0 20px 50px 6px rgba(0, 11, 66, .15);
  transform: scale(1.02,1.02);
  transition: all 0.5s ease;
}

.name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Faktpro, sans-serif;
  color: #4e4e4e;
  font-size: 60px;
  line-height: 52px;
  font-weight: 400;
}

.title {
  margin-top: 8px;
  font-family: Faktpro, sans-serif;
  color: #ffac7e;
  font-size: 30px;
  font-weight: 400;
}

.text-block {
  margin-top: 40px;
  font-family: Faktpro, sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  letter-spacing: 0px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 0px;
}

.social-link-text {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-family: Faktpro, sans-serif;
  color: #f6f6f6;
  font-size: 28px;
}

.link-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-decoration: none;
}

.link-block-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-decoration: none;
}

@media (max-width: 991px) {
  .container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .top-div {
    width: 80%;
  }
  .top-div.bottom {
    width: 100%;
  }
  .top-div.bottom.right {
    width: 100%;
    margin-left: 0px;
  }
  .div-block {
    width: 80%;
  }
  .link-block-2 {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .top-div {
    max-height: 90%;
  }
  .top-div.bottom {
    height: 60px;
  }
  .top-div.bottom.right {
    height: 60px;
  }
  .name {
    font-size: 42px;
  }
  .title {
    margin-top: 0px;
    font-size: 26px;
  }
  .text-block {
    margin-top: 28px;
    font-size: 18px;
    line-height: 22px;
  }
  .social-link-text {
    font-size: 20px;
  }
}

@media (max-width: 479px) {
  .container {
    height: auto;
    padding-top: 30px;
  }
  .top-div.bottom {
    height: 60px;
    margin-bottom: 12px;
  }
  .name {
    font-size: 36px;
    line-height: 40px;
  }
  .title {
    margin-top: 10px;
    line-height: 27px;
  }
  .text-block {
    font-size: 16px;
    line-height: 19px;
  }
  .div-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .link-block {
    width: 50%;
  }
  .link-block-2 {
    width: 50%;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 20px;
  }
}

@font-face {
  font-family: 'Faktpro';
  src: url('../fonts/FaktPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Faktpro';
  src: url('../fonts/FaktPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Faktpro hair';
  src: url('../fonts/FaktPro-Hair.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Faktpro';
  src: url('../fonts/FaktPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Faktpro';
  src: url('../fonts/FaktPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Faktpro';
  src: url('../fonts/FaktPro-Normal.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Faktpro blond';
  src: url('../fonts/FaktPro-Blond.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Plantin';
  src: url('../fonts/plantin.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}